{% extends 'pages/base.html' %}

{% block title %}About us {{title}} {% endblock %}
{% block header_title %}About us Page {{subtitle}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
      <h2>About us page</h2><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ms-auto">
        <p>This is an about page ... </p>
    </div>
    <div class="col-lg-4 me-auto">
        <p>Developed by: Your name </p>
    </div>
  </div>
</div>
{% endblock %}
