{% extends 'pages/base.html' %}

{% block title %}Contact Us{% endblock %}
{% block header_title %}Contact Information{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Contact Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ms-auto">
      <p class="lead">Email: fake@email.com</p>
      <p class="lead">Phone: +123 456 7890</p>
      <p class="lead">Address: 123 Fake Street, City</p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">Description: This is a fake contact page for demonstration purposes.</p>
      <p class="lead">Author: John Doe</p>
    </div>
  </div>
</div>
{% endblock %}
